service auth {
  unix_listener {{ dovecot_socket_dir }}/dovecot-auth {
    user = {{ dovecot_socket_user }}
    group = {{ dovecot_socket_group }}
    mode = {{ dovecot_socket_mode }}
  }
}

auth_username_format = %Ln
