service lmtp {
  unix_listener {{ dovecot_socket_dir }}/dovecot-lmtp {
    user = {{ dovecot_socket_user }}
    group = {{ dovecot_socket_group }}
    mode = {{ dovecot_socket_mode }}
  }
}

protocol lmtp {
  mail_plugins = $mail_plugins sieve
}
