# FIXME: Ubuntu 16.04 contains incorrect logpath defaults for many services
# See: https://github.com/fail2ban/fail2ban/issues/1396
{% if fail2ban_dovecot_enabled %}
[dovecot]
enabled = true
logpath = /var/log/mail.log
{% endif %}
{% if fail2ban_postfix_enabled %}
[postfix]
enabled = true
logpath = /var/log/mail.log
{% endif %}
{% if fail2ban_nginx_enabled %}
[nginx-http-auth]
enabled = true
{% endif %}
