body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
h2 {
    margin-bottom: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
  text-decoration: none;
  color: #336699;
}
a:hover {
  text-decoration: underline;
}
