# No PID file: https://github.com/rspamd/rspamd/issues/2166
check process rspamd matching 'rspamd: main process'
  start program = "/usr/sbin/service rspamd start"
  stop program  = "/usr/sbin/service rspamd stop"
  if failed port 11332 with timeout 15 seconds for 3 cycles then restart
  if failed port 11333 with timeout 15 seconds for 3 cycles then restart
  # FIXME: try adding 'protocol http' for 20.04
  if failed port 11334 with timeout 15 seconds for 3 cycles then restart
  if does not exist for 3 cycles then restart
