authenticated {
    priority = high;
    authenticated = yes;
    apply {
        # FIXME: Not sure why this outer "default" block is needed, but it was
        # the only way I could make this work. notkoos on Freenode says it's
        # a bug in libucl: https://github.com/vstakhov/libucl
        default {
            symbols_enabled = [];
        }
    }
}
