authenticated {
    priority = high;
    authenticated = yes;
    apply {
        # FIXME: https://github.com/vstakhov/libucl/issues/226
        default {
            symbols_enabled = [];
        }
    }
}
