#
# Reference: http://sieve.mozdev.org/reference.html
# To apply changes: sievec .dovecot.sieve .dovecot.sievec
# To test: sieve-test .dovecot.sieve <test email>
#

require [ "regex", "fileinto", "reject" ];

if anyof(
    header :contains "X-Spam-Flag" "YES",
    address :matches :domain "from" [
      # Retailers
      "*.express.com"
    ]
  ) {
  fileinto "Junk";
  stop;
}

if address :matches :domain "from"
  [
    # Recruiters
    "altius.us.com",
    "apexsystems.com",
    "artechinfo.com",
    "askstaffing.com",
    "austinfraser.com",
    "bniselect.it",
    "captevo.com",
    "careerfactorllc.com",
    "ceiamerica.com",
    "bridgeviewit.com",
    "dice.com",
    "dtglobalstaffing.com",
    "ecom-group.com",
    "esharpedge.com",
    "gemresourcing.com",
    "goldstonepartners.com",
    "higherincomejobs.com",
    "idctechnologies.com",
    "infinity-cs.com",
    "innovargroup.com",
    "insightglobal.com",
    "ispace.com",
    "judge.com",
    "jeffersonfrank.com",
    "kaztronix.com",
    "kforce.com",
    "kloudhire.com",
    "ksourceinc.com",
    "mastechdigital.com",
    "mobileprogrammingllc.com",
    "modis.com",
    "moreljobs.com",
    "mypeersource.com",
    "oxfordcorp.com",
    "poweredbyopolis.co",
    "repherrals.com",
    "repherralz.com",
    "sterling5.com",
    "techtalentlink.com",
    "techusa.net",
    "tekstream.com",
    "teksystems.com",
    "theashgroup.com",
    "theopeneyes.com",
    "thingsprogramming.com"
  ] {
  fileinto "Archive";
  stop;
}
