{% for key, value in certbot_cli.items() %}
{{ key }} = {{ value }}
{% endfor %}

# Because we are using logrotate for greater flexibility, disable the
# internal certbot logrotation.
max-log-backups = 0
