compatibility_level = 2

inet_interfaces = {{ postfix_conf_inet_interfaces | join(', ') }}

myorigin = /etc/mailname
myhostname = {{ postfix_conf_myhostname }}
mydestination = $myhostname, localhost

alias_maps = hash:/etc/aliases
virtual_alias_maps = hash:/etc/postfix/virtual
mailbox_transport = {{ postfix_conf_mailbox_transport }}

mailbox_size_limit = 0
message_size_limit = 25000000
recipient_delimiter = +

delay_warning_time = 15m
notify_classes = resource, software

readme_directory = no
biff = no

disable_vrfy_command = yes
smtpd_delay_reject = yes
smtpd_helo_required = yes

{% if postfix_configure_smtpd_sasl %}
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/dovecot-auth
smtpd_sasl_authenticated_header = yes
smtpd_sasl_security_options = noanonymous

# FIXME: https://ssl-config.mozilla.org
smtpd_tls_security_level = may
smtpd_tls_loglevel = 1
smtpd_tls_cert_file = {{ postfix_conf_smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_conf_smtpd_tls_key_file }}
smtpd_tls_received_header = yes
{% endif %}

smtpd_client_restrictions =
 permit_mynetworks,
 check_client_access hash:/etc/postfix/access_client
smtpd_sender_restrictions =
 permit_mynetworks,
 reject_non_fqdn_sender,
 reject_unknown_sender_domain
smtpd_recipient_restrictions =
 permit_mynetworks,
{% if postfix_configure_smtpd_sasl %}
 permit_sasl_authenticated,
{% endif %}
 reject_unauth_pipelining,
 reject_non_fqdn_recipient,
 reject_unknown_recipient_domain,
 reject_unauth_destination,
 check_sender_access hash:/etc/postfix/access_sender

smtpd_milters = {{ postfix_conf_smtpd_milters }}
milter_default_action = accept

# https://docs.aws.amazon.com/ses/latest/DeveloperGuide/postfix.html
relayhost = {{ postfix_conf_relayhost }}
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_password
smtp_tls_security_level = encrypt
smtp_tls_note_starttls_offer = yes
