compatibility_level = 2

inet_interfaces = {{ postfix_conf_inet_interfaces | join(', ') }}

myhostname = {{ postfix_conf_myhostname }}
myorigin = /etc/mailname

alias_maps = hash:/etc/aliases
virtual_alias_maps = hash:/etc/postfix/virtual
mailbox_transport = {{ postfix_conf_mailbox_transport }}

mailbox_size_limit = 0
message_size_limit = 25000000
recipient_delimiter = +

biff = no
delay_warning_time = 15m
confirm_delay_cleared = yes
notify_classes = delay, resource, software

# https://ssl-config.mozilla.org
smtpd_use_tls = yes
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtpd_tls_cert_file = {{ postfix_conf_smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_conf_smtpd_tls_key_file }}
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1, !TLSv1.2
smtpd_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1, !TLSv1.2
tls_preempt_cipherlist = no

{% if postfix_configure_smtpd_sasl %}
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/dovecot-auth
smtpd_sasl_authenticated_header = yes
smtpd_sasl_security_options = noanonymous
{% endif %}

disable_vrfy_command = yes
show_user_unknown_table_name = no
strict_rfc821_envelopes = yes
smtpd_tls_received_header = yes

smtpd_milters = {{ postfix_conf_smtpd_milters }}
milter_default_action = accept

smtpd_recipient_restrictions =
  permit_mynetworks,
  permit_sasl_authenticated,
  reject_unauth_pipelining,
  reject_non_fqdn_sender,
  reject_unknown_sender_domain,
  check_sender_access hash:/etc/postfix/access_sender,
  reject_non_fqdn_recipient,
  reject_unknown_recipient_domain

smtpd_relay_restrictions =
  permit_mynetworks,
  permit_sasl_authenticated,
  reject_unauth_destination

# https://docs.aws.amazon.com/ses/latest/DeveloperGuide/postfix.html
relayhost = {{ postfix_conf_relayhost }}
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_password
smtp_tls_security_level = encrypt
smtp_tls_note_starttls_offer = yes
