inet_interfaces = {{ postfix_conf_inet_interfaces | join(', ') }}

myorigin = /etc/mailname
myhostname = {{ postfix_conf_myhostname }}
mydestination = $myhostname, localhost

alias_maps = hash:/etc/aliases
virtual_alias_domains = {{ postfix_conf_virtual_alias_domains | join(', ') }}
virtual_alias_maps = hash:/etc/postfix/virtual

append_dot_mydomain = no
mailbox_size_limit = 0
recipient_delimiter = +
home_mailbox = Maildir/

delay_warning_time = 4h
notify_classes = resource, software
readme_directory = no
biff = no

message_size_limit = 20480000

smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_password
smtp_sasl_security_options = noanonymous

smtp_tls_security_level = may
smtp_tls_note_starttls_offer = yes

{% if postfix_conf_relayhost %}
relayhost = {{ postfix_conf_relayhost }}
{% endif %}

{% if postfix_configure_dovecot_imap %}
mailbox_command = /usr/lib/dovecot/deliver -m "${EXTENSION}"
{% endif %}

{% if postfix_configure_smtpd_sasl %}
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_authenticated_header = yes
smtpd_sasl_security_options = noanonymous

smtpd_tls_security_level = may
smtpd_tls_loglevel = 1
smtpd_tls_cert_file = {{ postfix_conf_smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_conf_smtpd_tls_key_file }}
smtpd_tls_received_header = yes
{% endif %}

smtpd_client_restrictions =
 permit_mynetworks,
 check_client_access hash:/etc/postfix/access_client
smtpd_sender_restrictions =
 permit_mynetworks,
 reject_non_fqdn_sender,
 reject_unknown_sender_domain
smtpd_recipient_restrictions =
 permit_mynetworks,
 {% if postfix_configure_smtpd_sasl %}
 permit_sasl_authenticated,
 {% endif %}
 reject_unauth_pipelining,
 reject_non_fqdn_recipient,
 reject_unknown_recipient_domain,
 reject_unauth_destination,
 check_sender_access hash:/etc/postfix/access_sender,
 reject_rbl_client zen.spamhaus.org,
 {% if postfix_configure_postgrey %}
 check_policy_service inet:127.0.0.1:10023
 {% endif %}

{% if postfix_configure_amavis %}
content_filter = smtp-amavis:127.0.0.1:10024
{% endif %}

disable_vrfy_command = yes
smtpd_delay_reject = yes
smtpd_helo_required = yes
