body {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}
@media only screen and (max-width: 320px) {
    body {
        font-size: 8px;
    }
}
pre {
    margin-top: 20%;
}
