body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    color: #fff;
    background-color: #000;
}
pre {
    margin-top: 20%;
    font-size: 10px;
}
