check process mdadm with pidfile /var/run/mdadm/monitor.pid
  start program = "/usr/sbin/service mdadm start"
  stop program  = "/usr/sbin/service mdadm stop"
  if does not exist for 3 cycles then restart
