# FIXME: Conflict with certbot
# server {
#   listen 80 default_server;
#   listen [::]:80 default_server;
#
#   return 301 https://$host$request_uri;
# }

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  root /var/www/html;

  include /etc/nginx/snippets/ssl_params.conf;
  include /etc/nginx/snippets/*_proxy.conf;
}
