#!/usr/bin/env bash
#
set -eu

NAME=${1:-$(hostname)}
DOMAIN=${2:-$(dnsdomainname).}
FQDN="$NAME.$DOMAIN"
TTL=300
DESIRED_VALUE=$(curl -sf https://api.ipify.org)

hosted_zone_id=$(aws route53 list-hosted-zones --query "HostedZones[?Name=='$DOMAIN'].Id | [0]" --output text)
if [[ -z "$hosted_zone_id" ]]; then
  echo "Zone ID not found for domain: $DOMAIN"
  exit 1
else
  current_recordset=$(aws route53 list-resource-record-sets --hosted-zone-id "$hosted_zone_id" --query "ResourceRecordSets[?Name=='$FQDN'] | [0]")
  current_name=$(echo "$current_recordset" | jq -r '.Name')
  # FIXME: jq error when record doesn't exist yet
  current_value=$(echo "$current_recordset" | jq -r '.ResourceRecords[].Value' | paste -s -d, -)
  if [[ "$DESIRED_VALUE" =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ && "$DESIRED_VALUE" != "$current_value" ]]; then
    # Upsert doesn't work properly when switching between CNAME and A records,
    # so we need to delete the existing record first. We also need to pass the
    # entire current recordset (TTL, etc.) in order for the delete to succeed.
    changes=''
    if [[ "$current_name" == "$FQDN" && -n "$current_recordset" ]]; then
      echo "Changing '$FQDN' from '$current_value' to '$DESIRED_VALUE'"
      changes="{\"Action\":\"DELETE\",\"ResourceRecordSet\":$current_recordset},"
    else
      echo "Creating '$FQDN' with '$DESIRED_VALUE'"
    fi

    changes="$changes{\"Action\":\"CREATE\",\"ResourceRecordSet\":{\"Name\":\"$FQDN\",\"Type\":\"A\",\"TTL\":$TTL,\"ResourceRecords\":[{\"Value\":\"$DESIRED_VALUE\"}]}}"
    aws --output text route53 change-resource-record-sets --hosted-zone-id "$hosted_zone_id" --change-batch "{\"Changes\":[$changes]}"
  fi
fi
