[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=3.0"
boto3 = "~=1.17"

[dev-packages]
molecule = "~=3.2"
molecule-docker = "~=0.2"
pytest-testinfra = "~=6.1"

[requires]
python_version = "3.8"
