check process plexmediaserver with pidfile "/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/plexmediaserver.pid"
  start program = "/usr/sbin/service plexmediaserver start"
  stop program  = "/usr/sbin/service plexmediaserver stop"
  if does not exist for 3 cycles then restart
